version: '3.8'

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - map4play-network

  php:
    build: ./php
    volumes:
      - ./src:/var/www/html
    depends_on:
      - postgres
    networks:
      - map4play-network

  postgres:
    image: postgis/postgis:16-3.4
    environment:
      POSTGRES_DB: map4play
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - map4play-network

volumes:
  postgres_data:

networks:
  map4play-network:
    driver: bridge